.btn {
    width: 100px;
    height: 40px;
    background-color: rgb(8, 175, 8);
    border: none;
    outline: none;
    border-radius: 5px;
    color: white;
    font-size: 22px;
    font-family: sans-serif;
    cursor: pointer;
    margin-left: 2px;
}

tr {
    border-bottom: '2px solid #ddd';
    text-align: 'center';
    font-size: 18px;
}

.trade {
    margin-bottom: 20px;
    width: 150px;
    height: 40px;
    background-color: rgb(64, 64, 255);
    border: none;
    outline: none;
    border-radius: 5px;
    color: white;
    font-size: 22px;
    font-family: sans-serif;
    cursor: pointer;
}

#del {
    background: rgb(242, 54, 54);
}